In [1]:
from splinter import Browser
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
## Step 1 - Scraping

In [3]:
### Scraping NASA Mars News

In [4]:
!which chromedriver

/Users/c/.rvm/gems/ruby-2.5.1/bin/chromedriver

In [5]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
executable_path = {'executable_path': '/Users/c/.rvm/gems/ruby-2.5.1/bin/chromedriver'}

# Create Browser instance
browser = Browser('chrome', **executable_path, headless=False)

In [6]:
# Use the visit method to navigate the NASA url
news_url = "https://mars.nasa.gov/news/"
browser.visit(news_url)

In [7]:
# Use the html attribute to get the html content of the visited page
news_html = browser.html

In [8]:
# Use BeautifulSoup to parse the html
news_soup = BeautifulSoup(news_html, 'html.parser')

In [9]:
# Get the latest News Title
news_title = news_soup.find('div', class_='content_title').text.strip()
news_title

'Curiosity on the Move Again'

In [10]:
# Get the latest News Paragraph Text
news_p = news_soup.find('div', class_='rollover_description_inner').text.strip()
news_p

"NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles."

In [11]:
### Scraping JPL Mars Space Images - Featured Images

In [12]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
executable_path = {'executable_path': '/Users/c/.rvm/gems/ruby-2.5.1/bin/chromedriver'}

# Create Browser instance
browser = Browser('chrome', **executable_path, headless=False)

In [13]:
# Use the visit method to navigate the NASA jpl url
img_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(img_url)

In [14]:
img_html = browser.html
img_soup = BeautifulSoup(img_html, 'html.parser').body

In [15]:
# Get file name for the front image 
img_style = img_soup.find('div', class_='carousel_items')
img_style_orig = img_style.find('article')['style']
img_style_orig

"background-image: url('/spaceimages/images/wallpaper/PIA19101-1920x1200.jpg');"

In [17]:
img_file = img_style_orig.split(".")[0].split("/")[-1].split("-")[0]
img_file

'PIA19101'

In [18]:
# Build the url for the image found
img_base_url = "https://www.jpl.nasa.gov/spaceimages/images/largesize/"
featured_image_url = img_base_url + img_file + "_hires.jpg"
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA19101_hires.jpg'

In [ ]:
### Scraping Mars Most Recent Weather info

In [19]:
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

In [20]:
weather_html = browser.html
weather_soup = BeautifulSoup(weather_html, 'lxml').body

In [21]:
mars_weather = weather_soup.find('p', class_="tweet-text").text.strip()
mars_weather

'Sol 2224 (2018-11-08), high 0C/32F, low -72C/-97F, pressure at 8.65 hPa, daylight 06:19-18:36'

In [23]:
### Scraping Mars Facts, Put it into html table using panda

In [28]:
# Read the data into a panda table
facts_url = 'http://space-facts.com/mars/'
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [29]:
# Put the data into Panda df
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [30]:
# Add column name
df.columns = ['', 'Values']
df

                                                Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [31]:
# Add index to the data frame
df.set_index('', inplace=True)
df

                                             Values

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [32]:
# Comvert the dataframe into html table
html_table = df.to_html(table_id=None)
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [33]:
### Scraping Mars Hemispheres images

In [34]:
hemi_url = 'https://astrogeology.usgs.gov/search/results?q=hemisphere+enhanced&k1=target&v1=Mars'
browser.visit(hemi_url)

In [35]:
# Visit each of the links from the url to get image links
browser.visit(hemi_url)

    # Click the link, find the sample anchor, return the href
hemisphere_image_urls = []

for i in range(4):

    # Find the elements on each loop to avoid a stale element exception
    hemi_link_item = browser.find_by_css("a.product-item h3")[i]
    
    # Find img title
    img_title = hemi_link_item.text
    
    # Click the link
    hemi_link_item.click()
    
    # Find the link to the full image
    hemi_html = browser.html
    hemi_soup = BeautifulSoup(hemi_html, 'lxml').body
    hemi_img_url = hemi_soup.find('div', class_="downloads").li.a['href']
    
    hemi_img_info = {'title': img_title, 'img_url': hemi_img_url}

    # Append image to list
    hemisphere_image_urls.append(hemi_img_info)

    # Finally, we navigate backwards
    browser.back()

In [36]:
hemisphere_image_urls

[{'title': 'Cerberus Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/cerberus_enhanced.tif/full.jpg'},
 {'title': 'Schiaparelli Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/schiaparelli_enhanced.tif/full.jpg'},
 {'title': 'Syrtis Major Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/syrtis_major_enhanced.tif/full.jpg'},
 {'title': 'Valles Marineris Hemisphere Enhanced',
  'img_url': 'http://astropedia.astrogeology.usgs.gov/download/Mars/Viking/valles_marineris_enhanced.tif/full.jpg'}]