In [46]:
from splinter import Browser
from bs4 import BeautifulSoup
import time

import pandas as pd

In [2]:
## Step 1 - Scraping

In [4]:
### NASA Mars News

In [3]:
!which chromedriver

/Users/c/.rvm/gems/ruby-2.5.1/bin/chromedriver

In [4]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
executable_path = {'executable_path': '/Users/c/.rvm/gems/ruby-2.5.1/bin/chromedriver'}

# Create Browser instance
browser = Browser('chrome', **executable_path, headless=False)

In [5]:
# use the visit method to navigate the NASA url
news_url = "https://mars.nasa.gov/news/"
browser.visit(news_url)

In [6]:
# use the html attribute to get the html content of the visited page
news_html = browser.html

In [7]:
# Use BeautifulSoup to parse the html
news_soup = BeautifulSoup(news_html, 'html.parser')

In [8]:
# get the latest News Title
news_title = news_soup.find('div', class_='content_title').text.strip()
news_title

'Curiosity on the Move Again'

In [9]:
# get the latest News Paragraph Text
news_p = news_soup.find('div', class_='rollover_description_inner').text.strip()
news_p

"NASA's Mars Curiosity rover drove about 197 feet over the weekend to a site called Lake Orcadie, pushing its total odometry to over 12 miles."

In [10]:
### JPL Mars Space Images - Featured Image

In [11]:
# executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
executable_path = {'executable_path': '/Users/c/.rvm/gems/ruby-2.5.1/bin/chromedriver'}

# Create Browser instance
browser = Browser('chrome', **executable_path, headless=False)

In [12]:
# use the visit method to navigate the NASA jpl url
img_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(img_url)

In [13]:
img_html = browser.html
img_soup = BeautifulSoup(img_html, 'html.parser').body

In [24]:
# Get the front image file name
img_style = img_soup.find('div', class_='carousel_items')
img_style = img_style.find('article')['style']
img_style
img_file = img_style.split(".")[0].split("/")[-1].split("-")[0]
img_file

'PIA17046'

In [27]:
base_url = "https://www.jpl.nasa.gov/spaceimages/images/largesize/"
featured_image_url = base_url + img_file + "_hires.jpg"
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/largesize/PIA17046_hires.jpg'

In [16]:
### Mars Weather

In [29]:
weather_url = 'https://twitter.com/marswxreport?lang=en'
browser.visit(weather_url)

In [37]:
weather_html = browser.html
weather_soup = BeautifulSoup(weather_html, 'lxml').body

In [40]:
mars_weather = weather_soup.find('p', class_="tweet-text").text.strip()
mars_weather

'Sol 2223 (2018-11-07), high 2C/35F, low -64C/-83F, pressure at 8.50 hPa, daylight 06:18-18:35'

In [41]:
### Mars Facts

In [180]:
facts_url = 'http://space-facts.com/mars/'
tables = pd.read_html(facts_url)
tables

[                      0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.52 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                  -153 to 20 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [182]:
df = tables[0]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [183]:
df.columns = ['', 'Values']
df

                                                Values
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.42 x 10^23 kg (10.7% Earth)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.52 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                  -153 to 20 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [184]:
df.set_index('', inplace=True)

In [185]:
df

                                             Values

Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.42 x 10^23 kg (10.7% Earth)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.52 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                  -153 to 20 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [186]:
html_table = df.to_html(table_id=None)

In [187]:
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>Values</th>\n    </tr>\n    <tr>\n      <th></th>\n      <th></th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>Equatorial Diameter:</th>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>Polar Diameter:</th>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>Mass:</th>\n      <td>6.42 x 10^23 kg (10.7% Earth)</td>\n    </tr>\n    <tr>\n      <th>Moons:</th>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>Orbit Distance:</th>\n      <td>227,943,824 km (1.52 AU)</td>\n    </tr>\n    <tr>\n      <th>Orbit Period:</th>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>Surface Temperature:</th>\n      <td>-153 to 20 °C</td>\n    </tr>\n    <tr>\n      <th>First Record:</th>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>Recorded By:</th>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [188]:
### Mars Hemispheres